html 
    head 
        title Redirect
    style 
        include ../public/stylesheets/callback.css
    body 
        div(class="loading")
            div(class="dot")
            div(class="dot") 
            div(class="dot") 
        script(type="text/javascript")
            include ../public/javascript/callback.js